<div class="container" style="margin-top: 116px;  max-width: 1000px;">
    <section id="formHolder">
  
      <div class="row">
  
        <!-- Brand Box -->
        <div class="col-sm-6 brand">
          <a href="#" class="fa fa-angle-double-left logo"></a>
  
          <div class="heading">
            <h2>Bookify.</h2>
            <p>Your Right Choice</p>
          </div>
        </div>
        <!-- Form Box -->
        <div class="col-sm-6 form">

          <!-- Signup Form -->
          <div  class="signup form-peice">
            <form class="signup-form" (ngSubmit)="updateSubmit()" #signupForm="ngForm">
              <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" name="username" id="name" class="name" required [(ngModel)]="updateObj.username">
                <span class="error"></span>
              </div>
  
              <div class="form-group">
                <label for="loginemail">Email Adderss</label>
                <input type="email" name="email" id="email" required [(ngModel)]="updateObj.email">
              </div>
              
              <div class="form-group">
                <label for="title">Event Name</label>
                <input type="text" name="title" id="title" required [(ngModel)]="updateObj.title">
              </div>
              <div class="form-group row">
                  <div class="col-sm-12">
                    <label for="datetime" class="col-sm-2 col-form-label">Date</label>
                    <input type="date"  name="booking_date" [(ngModel)]="updateObj.booking_date"  class="form-control" >
                    <label class="mt-2"></label>
                    <label class="text-danger"  *ngIf="!updateObj['booking_date'] && errorMsg">Please enter a date</label>
                </div>
                <div class="col-sm-12 d-flex" >
                    <label class="mt-2">Time</label>
                    <input type="time" name="start_time" [(ngModel)]="updateObj['start_time']" class="form-control" style="    margin-left: 15px;" >
                    <label class="mt-2"> End</label>
                    <input type="time" [(ngModel)]="updateObj['end_time']"  class="form-control " name="end_time" style="    margin-left: 15px;">
                    <label class="text-danger"  *ngIf="!updateObj['start_time'] && errorMsg">Please enter Start Time</label>
                    <label class="text-danger"  *ngIf="!updateObj['end_time'] && errorMsg">Please enter end Time</label> 
                </div>
            </div>
              
  
              <div class="text-xl-end pt-4">
                <button  class="btn btn-secondary " type="submit">Submit</button>
                <!-- <a style="text-decoration: none" (click)="toggleForm()" class="switch">login
        
                </a> -->
              </div>
            </form>
          </div><!-- End Signup Form -->
        </div>
      </div>
  
    </section>
  </div>



